*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans';
}

.container{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.title{
    color:  #57330a;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* estructura header */

header{
    width: 100%;
    height: 700px;
    background: #232526;  /* fallback for old browsers */
    background: linear-gradient(to right, hsla(210, 3%, 26%, 0.089), hsla(200, 4%, 14%, 0.26)), url(../img/header.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, hsla(210, 3%, 26%, 0.089), hsla(200, 4%, 14%, 0.26)), url(../img/header.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0px 0px;
}

nav > a{
    color: aliceblue;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .text-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-header h1{
    font-size: 50px;
    color: #ffffff;
}

.text-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* estructura about-us */

.container-about-us{
    display: flex;
    justify-content: space-evenly;
}

.img-about-us{
    width: 48%;
}

.container-about-us .container-text{
    width: 48%;
}

.container-text h3{
    margin-bottom: 15px;
}

.container-text h3 span{
    background: #57330a;
    color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgb(0, 0, 0, .5);
    margin-right: 5px;
}

.container-text p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}


/* Galeria */

.portfolio{
    background: #f2f2f2;
}

.galerry-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.image-port{
    width: 24%;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgb(0, 0, 0, .5);
}

.image-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-gallery{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(32, 82%, 31%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-gallery img{
    width: 50px;
}

.hover-gallery p{
    color: #ffffff;
}

.image-port:hover .hover-gallery{
    transform: scale(1);
}


/* clientes  */

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #b97425;
    display: flex;
    width: 46%;
    height: 300px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .container-text-card{
    width: 60%;
    color: #fff;
}

.cards .card > .container-text-card p{
    font-weight: 300;
    padding-top: 5px;
    
}


/*  servicios */

.about-service{
    background: #f2f2f2;
    padding-bottom: 30px;
}

.service-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-ind{
    width: 28%;
    text-align: center;
}

.service-ind img{
    width: 90%;
}

.service-ind h3{ 
    margin: 10px 0;
}

.service-ind p{
    font-weight: 300;
    text-align: justify;
}

/*  footer*/

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.container-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.cont-footer{
    text-align: center;
}

.cont-footer h4{
    color: #ffffff;
    border-bottom: 3px solid #b97425;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.cont-footer {
    color: #ccc;
}

.title-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: antiquewhite;
}


@media screen and (max-width:900px){
    header{
        background-position: center;
    }

    .container-about-us{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-about-us .container-text{
        width: 90%;
    }

    .img-about-us{
        width: 90%;
    }

    /* gallery */

    .image-port{
        width: 44%;
    }

    /* client */


    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card{
        margin-bottom: 30px;
    }


    /* servicios */
    .service-cont{
        justify-content: center;
        flex-direction: column;
    }

    .service-ind{
        width: 100%;
        text-align: center;
    }

    .service-ind:nth-child(1), .service-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .service-ind img{
        width: 90%;
    }
}

@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .text-header{
        font-size: 35px;
    }

    .text-header h2{
        font-size: 20px;
    }

    /*about us  */

    .img-about-us{
        margin-bottom: 60px;
        width: 99%;
    }

    
}



